.section-cases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.title.title__cases {
  margin-bottom: 40px;
}
.cases-tags__list {
  display: flex;
  margin-bottom: 40px;
}

.cases-tags__item {
  max-width: 180px;
  max-height: 52px;
  padding: 13px 23px;
  border-radius: 100px;
  background-color: $field;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: AvenirNext;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
}

.cases-tags__link {
  color: $text;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.button__case {
  width: 415px;
}