include ../blocks/mixins.pug

<!DOCTYPE html>
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    <link rel="stylesheet" href="./main.css">
    title HOYD Studio
  body

    .wrapper

      // Header
      include ../blocks/header

      // Content
      .container
        include ../blocks/cases
        include ../blocks/contacts

      // Footer
      include ../blocks/footer