section.section-about
  h2.title.title__about
    | about us
  .section-about__card
    p.card__text 
      span.card__text--bold Hoyd Design Boutique 
      span – your expert partner in design.
    p.card__text
      | We are interested to made perfect design to all our clients. 