section.section-competence
  h2.title.title__competence
    | our competence
  .competences
    .competences__block.competences__block--design
      .competences__image
        +image('../img/competence/design.png', 'competences__pic', 'Interface design')
      .competences__text
        | Interface design
    .competences__block.competences__block--visual
      .competences__image
        +image('../img/competence/visual.png', 'competences__pic', 'Visualization')
      .competences__text
        | Visualization and <br /> 3D modeling
    .competences__block.competences__block--consulting
      .competences__image
        +image('../img/competence/consulting.png', 'competences__pic', 'consulting')
      .competences__text
        | Full cycle of consulting
