header.header
  .container
    .header-block
      .header-block__left
        a.header-logo(href!='./') 
          +image(`../img/logo.png`, 'header-logo__img', 'HOYD logo')
      .header-block__right
        .menu
          include ./menu
        //- .language-block
        //-   span.language-block__text en
        //-   .triangle-down
