section.section-main
  .visually-hidden
    h1 hoyd design butique
  .section-main__image
    +image('../img/banner.png', 'section-main__banner', 'hoyd design butique')
  .section-main__text
    p.section-main__reinvent
      | REINVENT YOUR MOBILE AND WEB DESIGN