.section-works-wrapper
  
  section.section-work
    h2.title.title__works
      | some of our works
    .work-block
      .work-image
        +image('../img/works/glass.jpg', 'work-image__pic', 'alt')
      .work-descr
        h3.work-descr__title AO Glonass
        h4.work-descr__subtitle concept
        .work-descr__tags
          .work__tag.work__tag--space Mobile WEB
          .work__tag WEB
        p.work-descr__text.work-descr__text--right
          | Glonass connected millions of drivers and thousands of developers of services and applications into a single ecosystem.
  
  section.section-work
    .work-block
      .work-descr.work-descr__left
        h3.work-descr__title Delta credit
        h4.work-descr__subtitle
        .work-descr__tags
          .work__tag Android
        p.work-descr__text
          | Delta Credit has been successfully operating in Russia since 1998. New application simplifies the interaction with the bank and attract new customers.
      .work-image
        +image('../img/works/snake.jpg', 'work-image__pic--center', 'alt')
        
  section.section-work
    .work-block
      .work-image
        +image('../img/works/colors.jpg', 'work-image__pic', 'alt')
      .work-descr
        h3.work-descr__title Blackcatcard
        h4.work-descr__subtitle
        .work-descr__tags
          .work__tag.work__tag--space iOS
          .work__tag.work__tag--space Android
          .work__tag WEB
        p.work-descr__text.work-descr__text--right
          | Large European Bank issued by Papaya Ltd. Now with the new applications on all popular platforms, Blackcatcard has a strong position and satisfied customers.

